.products-page {
  padding: 25px;

  .add-filter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .filter-name {
      color: #707070;
      font: normal normal normal 12px Helvetica Neue;
      font-family: Poppins, "Helvetica Neue" !important;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .add-new {
      font-family: Poppins-Medium, "Helvetica Neue", sans-serif;
      text-transform: uppercase;
    }
  }
}