.orders-list {
  padding: 20px;

  .page-title {
    letter-spacing: 0.1px;
    color: #171725;
    font-family: Poppins-SemiBold, sans-serif;
    margin-top: 5px;
  }

  .filters-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    .filter-name {
      color: #707070;
      font: normal normal normal 12px Helvetica Neue;
      font-family: Poppins, "Helvetica Neue" !important;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .orders-table {
    margin-top: 25px;

    table {
      background-color: #0062ff0d !important;
      border-collapse: separate !important;
      border-spacing: 0 10px !important;

      th:before {
        content: none !important;
      }

      tr {
        background-color: white;
      }
    }
  }

  .ant-table-thead > tr > th {
    background-color: white !important;
  }

  .ant-table-thead {
    tr {
      text-transform: uppercase;
      color: #131523;
      font-family: Poppins-SemiBold, sans-serif;
    }
  }
}