.fetching {
  position: fixed;
  top: 50%;
  left: 50%;
}

.customer-detail-page {
  padding: 20px;

  .download-actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;

    .action {
      color: black;
      border: 1px solid #707070;
      font-family: Poppins-SemiBold, sans-serif;
    }
  }

  .customer-info {
    margin-top: 25px;

    .ant-row {
      padding: 12px;
    }

    .bg-white {
      background-color: white;
    }

    .customer-info-label {
      font-family: Poppins-Medium, sans-serif;
    }
  }
}