.ant-menu-item-selected {
  color: #0062FF !important;
  background-color: #0062ff0d !important;
  border-radius: 0 4px 4px 0;
}

.ant-menu {
  padding-right: 15px;
}

.ant-menu-item {

  &:hover {
    color: #0062FF !important;
  }

  &:active {
    background-color: #0062ff0d !important;
  }

  &::after {
    border-left: 3px solid #0062FF !important;
    border-right: none !important;
    left: 0 !important;
  }
}

.ant-select-item-option, .ant-picker-dropdown {
  font-size: 12px !important;
}

.ant-select-item-option-selected {
  background-color: #0062ff0d !important;
}
